/* Cada refeição (card individual) */
.refeicao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 20px;
  max-width: 336px;
  max-height: 335px;
  height: 100%;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  width: 100%;
  will-change: transform, box-shadow, border;
  overflow: hidden;
  box-sizing: border-box;
}

.refeicao:hover {
  border: 1px solid #ed0000;
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.refeicao img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}


/* Nome do hambúrguer */
.name {
  color: #721c24;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 36.31px;
}

/* Descrição do hambúrguer */
.detail p {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
  .refeicao {
    max-width: 160px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .refeicao {
    max-width: 100%;
    padding: 10px;
  }

  .refeicao img {
    max-width: 120px;
  }

  .name {
    font-size: 14px;
  }

}

@media (max-width: 360px) {
  .refeicao {
    padding: 8px;
  }

  .refeicao img {
    max-width: 100px;
  }

  .name {
    font-size: 10px;
  }
}
