/* Estilização geral do card */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px auto;
  gap: 20px;
  max-width: 100%;
  overflow-y: auto;
}

.comidas {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

/* Botão toggle */
.toggle-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; 
  margin-bottom: 30px;
}

/* Responsividade */
@media (max-width: 920px) {
  .comidas {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .comidas {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .card {
    margin-top: 10px;
  }

  .toggle-btn-container {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
